# Arquivos de Compilação (Binários, Objetos e Módulos)
*.o
*.out
*.exe
*.bin
*.dll
*.so
*.obj
*.lib
*.a
*.gch

# Executáveis do projeto
p2pnet
servidorUDP
servidor_de_peers
cliente

# Binários em code/
code/p2pnet
code/p2pne
code/servidorudp
code/TAD_GRAFO_PEERS.h.gch

# Logs
*.log

# Debug
core
*.dwo
*.elf
*.gdb

# Editores e IDEs
.vscode/
*.swp
*.swo
*~
*#*
.#*
*.bak

# SO
.DS_Store
Thumbs.db

# Vagrant
.vagrant/
Vagrantfile.bak
